*{
	box-sizing: border-box; 
}

html, body{
	height: 100%;
	min-height: 100%;
	font-family: 'Raleway', sans-serif;
}


.block1{
	margin: 0 5% 0 5%;
}
header{
	background-color: #353334;
	padding-bottom: 5%;
}

nav.menu, nav.contacts{
	margin-top: 2%;
}

.pelican{
	float: left;
	width: 10%;
	font-size: 1.5em;
	margin-top: 1.5%;
	font-family: 'Caveat', cursive;
}

.menu{
	float: left;
	width: 70%;
	border-left: 1px solid #fff;
}
.menu.one{
	display: none;
	float: none;
	width: 100%;
	margin: 2% auto;
	padding-left: 10%;
}
.contacts{
	float: right;
	width: 20%;
	text-align: right;
}
.contacts-link{
	margin-right: 2%;
}
.main{
	height: 100%;
}


nav ul{
	padding: 0;
	margin: 0;
}

.menu-link{
	float: left;
	padding: 0;
	margin-right: 2%;
	list-style: none;
}


nav li{
	float: left;
	list-style: none;
}

nav a{
	color: #fff;
	text-decoration: none;
	font-size: 1em;
	padding: 5px;
}

nav a:hover{
	border-bottom: 1px dashed rgb(247, 247, 247);
}

.icon{
	width: 7%;
}

.content {
	background: url(../images/pelican.jpg) center no-repeat;
    -webkit-background-size: cover;
	background-size: cover;
	position: relative;
    width: 100%;
    height: 100%;
}

.content span{
	background-color: rgba(247, 247, 247, .6);
	font-size: 3em;
}

.text{
	float: right;
	padding: 20% 5% 0 0;
}
.block1{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
ul.table{
	width: 33%;
}

table{
	margin: 10% 0;
}

img.icon2{
	width: 80%;
	vertical-align: middle;
}

td{
	padding: 1%;
}

td a{
	text-decoration: none;
	cursor: pointer;
	font-size: .9em;
}
td a:hover{
	color: #f29d3d;
}

footer{
	clear: both; 
	background-color: #353334;
	color: #fff;
	padding: 2% 0;
}

#modalDiv{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.8);
}
#modalContent{
	background-color: #faeee1;
	margin: 10% auto;
	padding: 2%;
	border: 1px #888;
	width: 80%;
	color: #000;
}
#close{
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}
#title{
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #fc7f26;
}
#text{
	font-size: 20px;
	padding: 2%;
}

@media (max-width: 800px) {
	ul.table{
		width: 45%;
	}
	.menu{
		display: none;
	}
	.menu.one{
		display: block;
	}
	.pelican{
		width: 30%;
	}
	.contacts{
		width: 40%;
	}
	.content{
		height: 80%;
	}
}

@media (max-width: 560px) {
	.menu.one{
		padding-bottom: 8%;
	}
	.contacts{
		width: 50%;
	}
	.text{
		float: none;
		padding: 20% 0;
		text-align: center;
	}
}

@media (max-width: 475px) {
	.menu.one{
		padding-left: 1%;
	}
	ul.table{
		width: 80%;
	}
}
